@font-face{
    font-family: soopafre;
    src : url("/assets/css/soopafre.ttf");
}
body{
    background-image: url("/assets/img/bg2.jpeg");
    background-size: cover;
}

footer{
    background-color: rgba(248, 245, 245, 0.84);
    height: 50px;
    padding-top: 20px;
    margin-top: 50px;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


.myBtnColor{
    background: linear-gradient(rgb(238, 49, 112), rgb(240, 137, 238));
    color: aliceblue;
    padding: 5px 50px;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid rgb(238, 49, 112);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.myh1{
    color: rgb(238, 49, 112);
    font-family: soopafre;
    font-size: 30px;
}

.myCart{
    background-color: rgba(44, 13, 73, 0.95);
    margin: 50px 6%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    color: aliceblue;
}

.myH2{
    color: rgb(238, 49, 112);
    font-size: 18px;
    font-family: soopafre;
}

.myFooterCard{
    border-top: 2px solid rgb(240, 137, 238);
    background-color: rgba(44, 13, 73, 0.693);
    padding: 10px 5px;
}

.myFont{
    color: aliceblue;
}

#h2Cart{
    color: rgb(238, 49, 112);
    font-size: 25px;
    font-family: soopafre;
}
