body{
    background-image: url("/assets/img/bg2.jpeg");
    background-size: cover;
}

footer{
    background-color: rgba(248, 245, 245, 0.84);
    height: 50px;
    padding-top: 20px;
    margin-top: 50px;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


.myBtnColor{
    background: linear-gradient(rgb(238, 49, 112), rgb(240, 137, 238));
    color: aliceblue;
    padding: 5px 50px;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid rgb(238, 49, 112);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.myh1{
    color: rgb(238, 49, 112);
}